.navbar {
  padding-left: 30px;
  padding-right: 50px;
  background-color: white!important;
  li{
    font-size: 20px;
    padding-right: 30px;
  }

}

.nav-link {
  font-size: 20px;
}

.filippo {
  position: relative;
  font-size: 20px;
}


.logo{
  height: 50px;
  padding-right: 25px;
}
